<div class="container py-5 mt-5" id="top">
    <div class="card">
        <div class="card-body">
            <div class="container" *ngIf="!loading">
                <h1>Lista personajes</h1>
                <hr>
                <table class="table table-striped">
                    <thead class="">
                      <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Imagen</th>
                        <th scope="col">Nombre</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let product of products">
                        <th scope="row">{{ product.id }}</th>
                        <td><img src="{{ product.image }}"></td>
                        <td>{{ product.name }}</td>
                        <td><a
                          [routerLink]="['/personaje',product.id,'detalles']"
                          class="btn btn-info btn-sm mr-2"
                        >
                          Ver personaje
                        </a></td>
                      </tr>
                    </tbody>
                </table>
                <a href="#top" type="button" class="btn btn-primary btn-sm" *ngIf="index>1" (click)="prevPage()">
                  Pagina Ant.
                </a>
                
                <a href="#top" type="button" class="btn btn-primary btn-sm" *ngIf="index<20" (click)="nextPage()">
                  Sig. Pagina
                </a>
            </div>
        </div>
    </div>
</div>